<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="layout/header :: head"></th:block>
</head>
<body>

<div class="sidebar d-none d-lg-block ">
    <div class="sidebar-header sticky-top">
        <div class="logo-circle"><i class="bi bi-mortarboard-fill fs-3"></i></div>
        <h5>SMS</h5>
    </div>

    <div class="sidebar-menu">
        <a class="menu-link" th:href="@{/dashboard}">
            <span><i class="bi bi-speedometer2 me-2"></i> Dashboard</span>
        </a>

        <div class="menu-item">
            <a class="menu-toggle" data-target="configuration" >
                <span><i class="bi bi-people me-2"></i> Configuration</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="configuration">
                <a class="sub-link" sec:authorize="hasAuthority('USER')"
                   th:href="@{/user/list}">User</a>
                <a class="sub-link" sec:authorize="hasAuthority('ROLE')"
                   th:href="@{/role/list}">Role</a>
            </div>
        </div>

        <div class="menu-item">
            <a class="menu-toggle" data-target="students">
                <span><i class="bi bi-people me-2"></i> Students</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="students">
                <a class="sub-link" sec:authorize="hasAuthority('STUDENT_LIST')"
                   th:href="@{/student/list}">Student List</a>
            </div>
        </div>

        <div class="menu-item">
            <a class="menu-toggle" data-target="employees" >
                <span><i class="bi bi-person-badge me-2"></i> Employee</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="employees">
                <a class="sub-link" sec:authorize="hasAuthority('EMPLOYEE_LIST')"
                   th:href="@{/employee/list}">Employee List</a>
            </div>
        </div>

        <div class="menu-item">
            <a class="menu-toggle" data-target="attendance" >
                <span><i class="bi bi-calendar-check me-2"></i> Attendance</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="attendance">
                <a class="sub-link" th:href="@{/attendance/attendanceStudentView}">Student Attendance</a>
                <a class="sub-link" th:href="@{/attendance/attendanceEmployeeView}">Employee Attendance</a>
            </div>
        </div>

        <div class="menu-item">
            <a class="menu-toggle" data-target="account" >
                <span><i class="bi bi-wallet2 me-2"></i> Account</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="account">
                <a class="sub-link" th:href="@{/account/accountIncome}">Pay Income</a>
                <a class="sub-link" th:href="@{/account/accountExpense}">Pay Expense</a>
                <a class="sub-link" th:href="@{/account/accountSummary}">Summary</a>
            </div>
        </div>

        <div class="menu-item">
            <a class="menu-toggle" data-target="report">
                <span><i class="bi bi-wallet2 me-2"></i> Report</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="report">
                <a class="sub-link" th:href="@{/reports/all}"
                   >All Report</a>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div th:replace="~{layout/navbar :: navbar}"></div>
    <th:block th:replace="layout/breadcrumb :: breadcrumb"></th:block>
    <div class="container-fluid py-4 content" layout:fragment="content"></div>

    <!-- Footer -->
    <div th:replace="~{layout/footer :: footer}"></div>
</div>
</body>
</html>