<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout/header :: head"></th:block>
</head>
<body>

<div class="sidebar d-none d-lg-block">
    <div class="sidebar-header">
        <div class="logo-circle"><i class="bi bi-mortarboard-fill fs-3"></i></div>
        <h5>SM Atik SMS</h5>
    </div>

    <div class="sidebar-menu">
        <a class="menu-link" th:href="@{/}">
            <span><i class="bi bi-speedometer2 me-2"></i> Dashboard</span>
        </a>

        <div class="menu-item">
            <a class="menu-toggle" data-target="students">
                <span><i class="bi bi-people me-2"></i> Students</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="students">
                <a class="sub-link" th:href="@{/student/all}">Student List</a>
                <a class="sub-link" th:href="@{/student/create}">Add Student</a>
            </div>
        </div>

        <div class="menu-item">
            <a class="menu-toggle" data-target="employees">
                <span><i class="bi bi-person-badge me-2"></i> Employee</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="employees">
                <a class="sub-link" th:href="@{/employee/list}">Employee List</a>
                <a class="sub-link" th:href="@{/employee/create}">Add Employee</a>
            </div>
        </div>

        <div class="menu-item">
            <a class="menu-toggle" data-target="attendance">
                <span><i class="bi bi-calendar-check me-2"></i> Attendance</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="attendance">
                <a class="sub-link" th:href="@{/attendance/attendanceStudentView}">Student Attendance</a>
                <a class="sub-link" th:href="@{/attendance/attendanceEmployeeView}">Employee Attendance</a>
            </div>
        </div>

        <div class="menu-item">
            <a class="menu-toggle" data-target="account">
                <span><i class="bi bi-wallet2 me-2"></i> Account</span>
                <i class="bi bi-chevron-right arrow"></i>
            </a>
            <div class="submenu" id="account">
                <a class="sub-link" th:href="@{/account/accountIncome}">Pay Income</a>
                <a class="sub-link" th:href="@{/account/accountExpense}">Pay Expense</a>
                <a class="sub-link" th:href="@{/account/accountSummary}">Summary</a>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div th:replace="~{layout/navbar :: navbar}"></div>

    <div layout:fragment="content" class="container-fluid py-4 content"></div>

    <!-- Footer -->
    <div th:replace="~{layout/footer :: footer}"></div>
</div>
</body>
</html>