<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/main}">

<head>
  <th:block th:replace="layout/header :: head"></th:block>
</head>

<body>

<div layout:fragment="content" class="page-bg card mx-2 shadow">

  <!-- ===== Page Header ===== -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h5 class="fw-bold mb-0">
      <i class="bi bi-person-badge-fill me-2"></i> Employees List
    </h5>
    <div class="d-flex justify-content-end mt-3" sec:authorize="hasAuthority('EMPLOYEE_CREATE')">
      <a th:href="@{/employee/create}"
         class="btn" id="btn">Create Employee</a>
    </div>
  </div>



  <!-- ===== Filter Section ===== -->
  <div class="card filter-card shadow-sm border-0 mb-4">
    <div class="card-body">
      <form method="get" th:action="@{/employee/list}" th:object="${filter}">
        <div class="row g-3">

          <!--EmpId Filter-->
          <div class="col-md-4">
            <input th:field="*{employeeId}" type="number"
                   class="form-control"
                   placeholder="Employee ID">
          </div>

          <!--name Filter-->
          <div class="col-md-4">
            <div class="position-relative">
              <input th:field="*{name}"
                     class="form-control"
                     placeholder="Employee Name"
                     type="text"
                     oninput="toggleClearIcon(this)">
              <span class="position-absolute top-50 end-0 translate-middle-y me-3 d-none"
                    style="cursor:pointer"
                    onclick="clearInput(this)"><i class="bi bi-x-circle-fill"></i>
              </span>
            </div>
          </div>

          <!--identityNumber Filter-->
          <div class="col-md-4">
            <input th:field="*{identityNumber}" type="text"
                   class="form-control"
                   placeholder="Identity Number">
          </div>

          <!--phoneNumber Filter-->
          <div class="col-md-4">
            <div class="position-relative">
              <input th:field="*{phoneNumber}"
                     class="form-control"
                     placeholder="Phone Number"
                     type="text"
                     oninput="toggleClearIcon(this)">
              <span class="position-absolute top-50 end-0 translate-middle-y me-3 d-none"
                    style="cursor:pointer"
                    onclick="clearInput(this)"><i class="bi bi-x-circle-fill"></i>
              </span>
            </div>
          </div>

          <!--gender Filter-->
          <div class="col-md-4">
            <select th:field="*{gender}" class="form-select"> place
              <option value="">--Select Gender--</option>
              <option th:each="g : ${genders}"
                      th:value="${g}"
                      th:text="${g}"></option>
            </select>
          </div>

          <!--divisionId Filter-->
          <div class="col-md-4">
            <select th:field="*{divisionId}" class="form-select">
              <option value="">--Select Division--</option>
              <option th:each="division : ${divisions}"
                      th:text="${division.name}"
                      th:value="${division.id}">
              </option>
            </select>
          </div>

          <!--districtId Filter-->
          <div class="col-md-4">
            <select th:field="*{districtId}" class="form-select">
              <option value="">--Select District--</option>
              <option th:each="dis : ${districts}"
                      th:text="${dis.name}"
                      th:value="${dis.id}">

              </option>
            </select>
          </div>

          <!--policeStationId Filter-->
          <div class="col-md-4">
            <select th:field="*{policeStationId}" class="form-select">
              <option value="">--Select Police station--</option>
              <option th:each="ps : ${police_station}"
                      th:text="${ps.name}"
                      th:value="${ps.id}">
              </option>
            </select>
          </div>

          <!--Emp Type Filter-->
          <div class="col-md-4">
            <select th:field="*{employeeType}" class="form-select">
              <option value="">--Select Employee Type--</option>
              <option th:each="e : ${employeeTypes}"
                      th:value="${e}"
                      th:text="${e}"></option>
            </select>
          </div>

          <!--status Filter-->
          <div class="col-md-4">
            <select th:field="*{status}" class="form-select">
              <option value="">--Select Status--</option>
              <option th:each="st : ${allstatus}"
                      th:value="${st}"
                      th:text="${st}"></option>
            </select>
          </div>

          <div class="col-md-2 d-grid">
            <a th:href="@{/employee/list}"
               class="btn btn-outline-secondary">
              <i class="bi bi-arrow-clockwise me-1"></i> Reset
            </a>
          </div>

          <div class="col-md-2 d-grid">
            <button class="btn btn-success">
              <i class="bi bi-search me-1"></i> Search
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>

  <!-- ===== Table Section ===== -->
  <div class="card table-card shadow-sm border-0">
    <div class="card-body p-0">

      <div class="d-flex justify-content-between align-items-center mt-3">
        <strong>Total : <span th:text="${employees.totalElements}"></span></strong>
        <strong><span th:text="'Page ' + ${currentPage + 1} + ' of ' + ${totalPages}"></span></strong>
      </div>

      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead class="table-success">
          <tr>
            <th style="width: 5%;" class="text-center">Sl</th>
            <th style="width: 30%;" class="text-start">Employee Details</th>
            <th style="width: 15%;" class="text-center">Salary</th>
            <th style="width: 40%;" class="text-start">Address</th>
            <th style="width: 10%;" class="text-center">Status</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="employee,stat : ${employees}">
            <td class="text-center" th:text="${employee.serialNo}">1</td>
            <td>
              <span><strong>ID :</strong> <span th:text="${employee.employeeId}"></span></span><br>
              <span><strong>Name :</strong><a th:href="@{'/employee/view/' + ${employee.id}}" sec:authorize="hasAuthority('EMPLOYEE_VIEW')"
                                              class="text-decoration-none link-success link-underline-opacity-0 link-underline-opacity-100-hover">
                <span class="text-success" th:text="${employee.name}"></span></a>
              </span><br>
              <span><strong>Phone :</strong> <span th:text="${employee.phoneNumber}"></span></span>
            </td>
            <td class="text-center" th:text="${employee.salary}">0</td>
            <td>
              <ul>
                <li th:each="addr : ${employee.addressResponseDto}">
                  <span class="fw-bold" th:text="${addr.addressType} + ' :  ' "></span>
                  <span th:text="${addr.village + ', ' + addr.policeStation?.name + ', ' + addr.district?.name + ', ' + addr.division?.name}"></span>
                </li>
              </ul>
            </td>
            <td class="text-center" th:switch="${employee.status.name()}">
              <span th:case="'APPOINTED'">Appointed</span>
              <span th:case="'ACTIVATE'">Activate</span>
              <span th:case="'DEACTIVATE'">Deactivate</span>
              <span th:case="*"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <nav aria-label="Page navigation example" class="mt-2">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
        <a class="page-link" th:href="@{/employee/list(
        page=${currentPage - 1},
        pageSize=${pageSize},
        sortField=${sortField},
        sortOrder=${sortOrder},
        employeeId=${filter.employeeId},
        name=${filter.name},
        gender=${filter.gender},
        employeeType=${filter.employeeType},
        identityNumber=${filter.identityNumber},
        phoneNumber=${filter.phoneNumber},
        status=${filter.status},
        divisionId=${filter.divisionId},
        districtId=${filter.districtId},
        policeStationId=${filter.policeStationId}
   )}">Previous</a>
      </li>

      <li class="page-item" th:each=" i : ${#numbers.sequence(0,totalPages -1)}"
          th:classappend="${i == currentPage} ? 'active' : ''">
        <a class="page-link" th:text="${i + 1}" th:href="@{/employee/list(
        page=${i},
        pageSize=${pageSize},
        sortField=${sortField},
        sortOrder=${sortOrder},
        employeeId=${filter.employeeId},
        name=${filter.name},
        gender=${filter.gender},
        employeeType=${filter.employeeType},
        identityNumber=${filter.identityNumber},
        phoneNumber=${filter.phoneNumber},
        status=${filter.status},
        divisionId=${filter.divisionId},
        districtId=${filter.districtId},
        policeStationId=${filter.policeStationId}
   )}">1</a>
      </li>

      <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
        <a class="page-link" th:href="@{/employee/list(
        page=${currentPage + 1},
        pageSize=${pageSize},
        sortField=${sortField},
        sortOrder=${sortOrder},
        employeeId=${filter.employeeId},
        name=${filter.name},
        gender=${filter.gender},
        employeeType=${filter.employeeType},
        identityNumber=${filter.identityNumber},
        phoneNumber=${filter.phoneNumber},
        status=${filter.status},
        divisionId=${filter.divisionId},
        districtId=${filter.districtId},
        policeStationId=${filter.policeStationId}
   )}">Next</a>
      </li>
    </ul>
  </nav>
  <script>
    function toggleClearIcon(input) {
        const icon = input.nextElementSibling;
        if (input.value.trim() !== '') {
            icon.classList.remove('d-none');
        } else {
            icon.classList.add('d-none');
        }
    }

    function clearInput(icon) {
        const input = icon.previousElementSibling;
        input.value = '';
        icon.classList.add('d-none');
        input.focus();
    }
  </script>
</div>

</body>
</html>