<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<head>
  <th:block th:replace="layout/header :: head"></th:block>
  <!-- SweetAlert CDN -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

<div layout:fragment="content" class="container py-4 card page-bg shadow mx-2">

  <div class="d-flex justify-content-between mb-3">
    <h4>Permission List</h4>
    <a th:href="@{/permission/form}" class="btn btn-primary">
      ➕ Add Permission
    </a>
  </div>

  <table class="table table-striped table-hover">
    <thead class="table-success">
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${permissions}">
      <td th:text="${p.code}"></td>
      <td th:text="${p.description}"></td>
      <td>
        <a th:href="@{/permission/form(id=${p.id})}" class="btn btn-sm btn-warning">✏ Edit</a>

        <form th:id="'deletePermissionForm-' + ${p.id}"
              th:action="@{/permission/delete/{id}(id=${p.id})}"
              method="post"
              style="display:inline;">

          <button type="button"
                  class="btn btn-sm btn-danger"
                  th:onclick="'confirmDelete(\'deletePermissionForm-' + ${p.id} + '\')'">
            🗑 Delete
          </button>

        </form>

      </td>
    </tr>
    </tbody>
  </table>
  <script>
    function confirmDelete(formId) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById(formId).submit();
        }
      });
    }
  </script>

</div>



</body>
</html>
