<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">

<head>
  <th:block th:replace="layout/header :: head"></th:block>
</head>

<body>

<div layout:fragment="content" class="container py-4 card page-bg shadow mx-2">

  <div class="container mt-4">

    <h4 th:text="${permission.id == null ? 'Create Permission' : 'Edit Permission'}"></h4>

    <form th:action="@{/permission/save}"
          th:object="${permission}"
          method="post">

      <input type="hidden" th:field="*{id}"/>

      <div class="mb-3">
        <label class="form-label">Permission Code</label>
        <input type="text" th:field="*{code}"
               class="form-control"
               placeholder="STUDENT_CREATE"
               required>
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" th:field="*{description}"
               class="form-control"
               placeholder="Can create student">
      </div>

      <button class="btn btn-success">Save</button>
      <a th:href="@{/permission/list}" class="btn btn-secondary">Cancel</a>

    </form>

  </div>
</div>

</body>
</html>
